{% extends 'base.html' %}
{% block content %}
<div class="home_page">
{% if post_review == 'True' %}
    <h1>Create a Review</h1>
{% else %}
    <h1>Create a Ticket</h1>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
    <div class="edit_form">
        {% csrf_token %}
        {% if post_review == 'True' %}
            <div class="col-merge"><h3>Book/Article</h3></div>
        {% endif %}
        {% for field in ticket_form %}
            <div class="col-1">{{ field.label }}:</div>
            <div class="col-2">{{ field }}</div>                
        {% endfor %}        
        
        {% if post_review == 'True' %}
            <div class="col-merge"><h3>Review</h3></div>
                {% for field in review_form %}
                    <div class="col-1">{{ field.label }}:</div>    
                    <div class="col-2">{{ field }}</div>
                {% endfor %}            
        {% endif %}
        <div class="col-merge"><input type="submit" value="Submit"></div>
    </div>
</form>
</div>
{% endblock content %}
