{% extends 'base.html' %}
{% block content %}
{% if ticket_form %}
    <h2>Edit Your Ticket </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in ticket_form %}
            {% if field.label == 'Image' %}
                <p>{{ field.label }} </p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="">
                {% endif %}
                {{ field }}
            {% else %}
                {{ field.label }}: {{ field }}
            {% endif %}    
        {% endfor %}        
        <button type="submit">Save</button>
    </form>
{% endif %}
{% if review_form %}
    <h2>Edit Your Review</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Your are posting in resposne to</p>
        -----------------------------------------
        <section>
            Ticket - {{ ticket.user }}
            <p>{{ ticket.title }}</p>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="" class="book-img">
            {% endif %}
        </section>
        -----------------------------------------
        <p>Review</p>
        {{ review_form.as_p}}
        <button type="submit">Save</button>
    </form>
{% endif %}
{% endblock content %}