{% extends 'base.html' %}
{% block content %}
<div class="home_page">
{% if ticket_form %}
    <h1>Edit Your Ticket </h1>
    <form method="post" enctype="multipart/form-data">
        <div class="edit_form">
            {% csrf_token %}
            {% for field in ticket_form %}
                {% if field.label == 'Image' %}
                <div class="col-1">{{ field.label }}: </div>
                <div class="col-2">
                    {% if ticket.image %}
                        <img src="{{ ticket.image.url }}" alt="">
                    {% endif %}
                    <p>{{ field }}</p>
                </div>
                {% else %}
                    <div class="col-1">{{ field.label }}:</div>
                    <div class="col-2">{{ field }}</div>
                {% endif %}    
            {% endfor %}        
            <button type="submit" >Save</button>
        </div>
    </form>
{% endif %}
{% if review_form %}
    <h1>Edit Your Review</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="edit_form">
            {% csrf_token %}
            <div class="col-merge"><h3>Your are posting in resposne to</h3></div>
            <div class="ele4">
                <h4>Ticket - {{ ticket.user }}</h4>
                <p>{{ ticket.title }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="" class="book-img">
                {% endif %}
            </div>
            <div class="col-merge"><h3>Review</h3></div>
                {% for field in review_form %}
                <div class="col-1">{{ field.label }}:</div>
                    {% if field.label == 'Rating' %}
                        <div class="col-2">
                            
                           {{ review_form.rating }}
                        </div>
                    {% else %}
                        <div class="col-2">{{ field }}</div>
                    {% endif %}
                {% endfor %}
        
            <div class="col-1"><button type="submit">Save</button></div>
        </div>
        
    </form>
{% endif %}
</div>
{% endblock content %}