{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load blog_extras %}
{% block content %} 
{% if user.is_authenticated %}

<h2>Your Posts</h2>
<div class="grid-container">
    {% for instance in posts %}
        {% if instance|model_type == 'Ticket' %}
            
            <div class="post">
                {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
            </div>
            
                <button onclick="location.href='{% url 'edit_' type_of_model='Ticket' tid=instance.id %}'">Edit</button>
                <button onclick="location.href='{% url 'delete_confirm' type_of_model='Ticket' tid=instance.id %}'">Delete</button>
            
        {% elif instance|model_type == 'Review' %}
            <div class="post">
                <hr>
                <h4>{% get_poster_display instance.user %} posted a review</h4>
                <p>{{ instance.time_created }}</p>
                {{ instance.headline }} -
                <div class="rating"> 
                {% for star in "*****" %}
                    {% if forloop.counter <= instance.rating %}
                        {% bs_icon 'star-fill' %}
                    {% else %}
                        {% bs_icon 'star' %}
                    {% endif %}
                
                {% endfor %}
                </div>
                <p>{{ instance.body }}</p>
                -----------------------------------------
                <section>
                    Ticket - {{ instance.ticket.user }}
                    <p>{{ instance.ticket.title }}</p>
                    {% if instance.ticket.image %}
                        <img src="{{ instance.ticket.image.url }}" alt="" class="book-img">
                    {% endif %}
                </section>
                -----------------------------------------
                <button onclick="location.href='{% url 'edit_' type_of_model='Review' tid=instance.id %}'">Edit</button>
                <button onclick="location.href='{% url 'delete_confirm' type_of_model='Review' tid=instance.id %}'">Delete</button>
        {% endif %}
    
    {% endfor %}
</div>
    
{% endif %} 
{% endblock content %}
