{% load static %}
<html>
    <head>
        <title>LITReview</title>
        </title>
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    </head>
    <body>
        <h1>LITReview</h1>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'home' %}">Feed</a>
            <a href="">Posts</a>
            <a href="{% url 'follow_users' %}">Following</a>
            <a href="{% url 'logout' %}">Log Out ({{request.user }})</a>
          </nav>
        {% endif %}
        {% block content %}{% endblock content %}
    </body>
</html>