{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    </head>
    <body>
        <header class="header">
            <img src="{% static 'logo.png' %}" alt="" class="logo">
            <h1>LITReview</h1>
            
            
            {% if user.is_authenticated %}
                
                    
                    <nav class="navbar">
                        <h2>Hello, {{ request.user }}</h2>
                        <a href="{% url 'home' %}">Feed</a>
                        <a href="{% url 'own_posts' %}">Posts</a>
                        <a href="{% url 'follow_users' %}">Following</a>
                        <a href="{% url 'logout' %}">LogOut</a>
                    </nav>
                
            {% endif %}
        </header>
        {% block content %}{% endblock content %}
    </body>
</html>