

@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");
body{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nova Round", system-ui;
    background-color:rgb(243, 235, 225);
}
.header{
    background-color:darksalmon;
    padding:5px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: small;
    margin-bottom: 10px;
    border: 1px solid #3b2119 ;
}
.logo{
    height: 70px;
    width: 70px;
    margin-right: 5PX;
    margin-left: 1px;
    border-color: dimgrey;
    border-style: solid;
}
.parent{
    display: flex;
    margin: 0 auto;
    width: 700px;
    align-self: center;
}
.child1{
    flex: 2;
    border: 2px solid black;
    width: 500px;
    text-align: center;
    
}
.signup-form{
    margin: auto;
    margin: 0 auto;
    width: 75%;
    /*border: 2px solid black;
    width: 80%;
    text-align: center;*/
}
h1{
    text-align: center;
}
h2{
    display: inline-block;
    color:rgb(78, 56, 31);
    text-align: center;
    justify-content: center;
}
.delete-form{
    border-radius: 5px;
    border: 2px solid rgb(105, 50, 10); 
    padding: 20px;
    width: 75%;
    margin: auto;
}
.delete-form input,
.edit_form input[type="submit"], 
button{
    position: relative;
    width:max-content;
    height: 40px;
    color: antiquewhite;
    border-radius: 20%;
    font-size: medium;
    background-color:#614239;
    font-weight: bold;
}
.delete-form input:hover,
.edit_form input[type="submit"]:hover,
button:hover{
    transition: all 0.3s ease 0s;
    font-size: larger;
}
.child1:first-child{
    margin-right: 30px;
}
.child2 {
    flex: 1;
    border: 2px solid black;
    width: 100px;
    text-align: center;
}
.login-form input[type="text"],
.login-form input[type="password"],
.home_page input[type="text"]{
  width:200px;
  /*width: 80%;*/
  height: 30px;
  border-radius:5px;
  border:2px solid #3b2119;
  font-family: "Nova Round", system-ui;
  outline:none;
  padding-left:10px;
}
.header .navbar{
    padding: 0px 20px;
    display: flex;
    flex:2;
    overflow: hidden;
    justify-content: right;
    align-items: right;
    /*margin-left: 400px;*/
}
.header .navbar a{
    color:#301702;
    display: flex;
    padding-left: 30px;
    font-size: 25px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.header .navbar a:hover{
    color:antiquewhite;
}
body.popupview {
    height: 90%;
    position: relative;
    width: fit-content;
    z-index: 1000;
    font-size: medium;
}
.home_page{
    width: 90%;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    justify-self: center;
}
.grid-container-element { 
    display: grid;
    background-color: rgb(238, 208, 183);
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
    border: 2px solid rgb(105, 50, 10); 
    width: 55%;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: auto;
    margin-bottom: 9px;
}
.grid-container-element:hover{
    transition: all 0.5s ease 0s;
}
.child-element { 
    margin: 5px;
    align-items: center;
}
.ele3, .ele4{
    grid-column: span 2; 
}
.ele4{
    place-self: center;
    border: 2px dotted #3b2119;
    border-spacing: 10px;
}
.edit_form{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
    border-radius: 5px;
    border: 2px solid rgb(105, 50, 10); 
    background-color:  rgb(243, 222, 205);
    padding: 15px;
    width: 70%;
    margin: auto;
}

.edit_form input[type="text"],
.edit_form textarea
{
    width: 70%;
    resize: vertical;
    border-radius:5px;
    border:2px solid #3b2119;
    font-family: "Nova Round", system-ui;
}
.col-1{
    width: 20%;
    resize: vertical;
    height: 30px;
    font-family: "Nova Round", system-ui;
    font-weight: bold;
    text-align: right;
}
.col-2{
    width: 70%;
    text-align: left;
    resize: horizontal;
}
#id_rating{
    display: flex;
}

#id_rating label{
    margin-right: 50px;
}
.col-merge{
    width: 100%;
    grid-column: span 2;
    place-self: center;
    border-top: 1px solid rgb(32, 9, 9);
    border-bottom: 1px solid rgb(32, 9, 9);
}
.follow{
    table-layout: auto;
    border-radius: 5px;
    border: 2px solid rgb(105, 50, 10);
    padding: 15px;
    width: 70%;
    margin: auto;
}
img{
    width: 125px;
    height: 170px;
    border: 1px solid rgb(105, 50, 10);;
}
.follow a{
    color:#8a4914;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.follow a:hover{
    color:rgb(10, 10, 10);
}
td{
    border: 1.5px solid rgb(105, 50, 10);
    width: 200px;
    font-size: 20px;
    overflow: auto;
}
.unfollow{
    text-align: center;
    width: 100px
}
.rating{
    color:black;
    font-size: 18px;
}
