

@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");
body{
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nova Round", system-ui;
    background-color:antiquewhite;
}
.header{
    background-color:darksalmon;
    padding:5px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: small;
    margin-bottom: 10px;
    border: 1px solid #3b2119 ;
}
.logo{
    height: 70px;
    width: 70px;
    margin-right: 5PX;
    margin-left: 1px;
    border-color: dimgrey;
    border-style: solid;
}
.parent{
    display: flex;
    margin: 0 auto;
    width: 700px;
    align-self: center;
}
.child1{
    flex: 2;
    border: 2px solid black;
    width: 500px;
    text-align: center;
    
}
.signup-form{
    margin: auto;
    /*border: 2px solid black;
    width: 80%;
    text-align: center;*/
}
h2{
    display: inline-block;
    color:rgb(78, 56, 31);
    text-align: center;
    justify-content: center;
}
button{
    position: relative;
    width:max-content;
    height: 40px;
    color: antiquewhite;
    border-radius: 20%;
    font-size: medium;
    background-color:#614239;
    font-weight: bold;
}
button:hover{
    transition: all 0.3s ease 0s;
    font-size: larger;
}
.child1:first-child{
    margin-right: 30px;
}
.child2 {
    flex: 1;
    border: 2px solid black;
    width: 100px;
    text-align: center;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width:200px;
  /*width: 80%;*/
  height: 30px;
  border-radius:5px;
  border:2px solid #3b2119;
  font-family: "Nova Round", system-ui;
  outline:none;
  padding-left:10px;
}
.header .navbar{
    padding: 0px 20px;
    display: flex;
    flex:2;
    overflow: hidden;
    justify-content: right;
    align-items: right;
    /*margin-left: 400px;*/
}
.header .navbar a{
    color:#301702;
    display: flex;
    padding-left: 30px;
    font-size: 25px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.header .navbar a:hover{
    color:antiquewhite;
}
body.popupview {
    height: 90%;
    position: relative;
    width: fit-content;
    z-index: 1000;
    font-size: medium;
}
.tickets-page{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 10px;
}
img{
    width: 125px;
    height: 170px;
}
table{
    table-layout: fixed;

}
td{
    border: 1px solid indigo;
    width: 200px;
    overflow: auto;
}
.unfollow{
    text-align: center;
    width: 100px
}
.rating{
    color:black;
    font-size: 24px;
}